<div class="dash-container">
    <div class="hero-left">
        <div class="title">
            <p>It's Time to</p>
            <div class="contained">
                <img src="../../../../assets/images/lil-hero.png" alt="" srcset="">
                <p>Wear Crazy</p>
            </div>
        </div>
        <div class="sub">
            <p>Shop your favorite trendy outfits - Swimwear, <br> lingeries, footwear, and many more!</p>
        </div>
    </div>
    <div class="hero-right">
        <img src="../../../../assets/images/hero-image.png" alt="" srcset="">
    </div>

    <div routerLink="/Product" class="btn-shoplink">
        
            <p >Shop</p>
            <img src="../../../../assets/images/arrow 1.png" alt="">
    </div>


    <div class="container-count">
        <div class="performance general">
            <p class="highlight">86%</p>
            <p>Performance</p>
        </div>
        <div class="followers general">
            <p class="highlight" >2.3k</p>
            <p>Followers</p>
        </div>
        <div class="products general">
            <p class="highlight">800+</p>
            <p>Products</p>
        </div>
    </div>

    <div class="CategoryThumbnail">
        <div class="sleepwear generalPosition">
            <img src="../../../../assets/images/3.png" alt="">
            <h1>Sleepwear</h1>
        </div>
        <div class="swimwear generalPosition">
            <img src="../../../../assets/images/2.png" alt="">
            <h1>Swimwear</h1>
        </div>
        <div class="footwear generalPosition">
            <img src="../../../../assets/images/1.png" alt="">
            <h1>Footwear</h1>
        </div>
    </div>

    <div id="collection" class="CollectionBoard">
        <div class="title">
            <p>Latest Collection</p>
        </div>
        <div class="collection-albums">
            <div class="1st gen">
                <img src="../../../../assets/images/m2.png" alt="">
            </div>
            <div class="2nd gen drop">
                <img src="../../../../assets/images/m1.png" alt="">
            </div>
            <div class="3rd gen">
                <img src="../../../../assets/images/m3.png" alt="">
            </div>
            <div class="4th gen drop">
                <img src="../../../../assets/images/m4.png" alt="">
            </div>
        </div>

        <div class="explore-collection-btn general-btn">
            <div class="contained">
                <p>Explore Collections</p>
                <img src="../../../../assets/images/arrow 1.png" alt="">
            </div>
        </div>
    </div>

    <div id="catalogue" class="catalogue-container">
        <div class="hero">
            <p class="title">Catalogue</p>
            <p class="sub">Your All-Day Essentials: Swimwear for the Waves, Footwear for Every Step, and Sleepwear for Sweet Dreams.</p>
        </div>

        <div class="grid-container ">
            <div class="g1 ">
                <p>Sleepwear</p>
            </div>
            <div class="g1">
                <p>Bags</p>
            </div>
            <div class="g1">
                <p>Footwear</p>
            </div>
            <div class="g1">
                <p>swimwear</p>
            </div>
            <div class="g1">
                <p>one-piece swimwear</p>
            </div>
            <div class="g1">
                <p>two-piece swimwear</p>
            </div>
            <div class="g1">
                <p>rashguard</p>
            </div>
            <div class="g1">
                <p>plus size</p>
            </div>
            <div class="g1">
                <p>kids</p>
            </div>
            
        </div>


        <div class="categories-btn">
            <div class="contained">
                <p>All categories</p>
                <img src="../../../../assets/images/arrow 1.png" alt="">
            </div>
        </div>


    </div>

    <div class="StorySection">
        <div class="title">
            <p>Story Time</p>
        </div>
        <div class="contained">
            <div class="left">
                <p>
                    I never felt this dead tired in a long while. But it’s the kind of tiredness you crave. You crave it kasi it means you did something worthwhile kaya super tired.
                </p>
                <p>
                    Last night may new arrival kami swimsuits. Sooo dahil lagi kami excited mag open new items, inopen namin just to have a peak. KASO!!! Ang gaganda nila so sabi ko kay boyfie, “live natin to now, gaganda e!” and so we did. Sa Facebook sana ko mag llive kaso naisip ko boyfie had to sleep cause he got something to do in the morning. So ako lang magisa from selling to invoicing to packing. Kaya sa shopee ako nag live para self checkout. And tagal na namin di nag live sa shopee like months na. (Na sad kasi ako nung nag return yung shop ko from vacation mode e walang viewers pg nag llive, tagal kasi nag pause)
                </p>
                <p>
                    So ayun, naglive sa shopee, ang guess what?! We’re back!! May viewers na ulit and nakaka happy kasi daming miners ++
                </p>
                <p>Ended live 6AM tas may mga nag pickup ng parcel till 8AM. Didn’t had the time to clean up kasi super tired na! But happy and thankful!</p>
                <p>SOLD 70 ITEMS in 1 Live
                    Nakaka taba ng heart super! Old Miners to New Miners! Thank you! Love ko kayo! Love namin kayo! Kahit ayaw niyo paawat
                    Later again,</p>
            </div>
            <div class="right">
                <img src="../../../../assets/images/righ-st.png" alt="">
            </div>
           
        </div>
    </div>

</div>