<div class="container">
    <p class="logo">Wear Craze-e Apparel</p>
    <nav>
        <ul class="navigation1">
            <li><a routerLink="/" routerLinkActive="active">Home</a></li>
            <li><a routerLink="/Product" >Product</a></li>
            <li><a routerLink="/Collection" >Collection</a></li>
            <li><a routerLink="/ContactUs" >ContactUs</a></li>
        </ul>
        <ul class="navigation2">
            <li class="searchbar"><img src="../../../../assets/images/search-bar.png" alt=""></li>
            <li class="searchbar"><img src="../../../../assets/images/shopper 1.png" alt=""></li>
            <li class="searchbar"><img src="../../../../assets/images/user 1.png" alt=""></li>
        </ul>
    </nav>
</div>
